@import url('./reset.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');


.main-list {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-link {
  font-size: 18px;
  font-weight: normal;
}

.main-link:hover {
  text-decoration: underline;
}